<div class="container">
  <div class="card">
    <div class="heading">
      <p class="nav1">Welcome to InventFlow Systems</p>
      <p class="nav">
        Create a new account? <a routerLink="/signup" routerLinkActive="active">Signup</a>
      </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="content">
        <div class="example-container">
          <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              required
              formControlName="email"
            />
          </mat-form-field>
          <span *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span *ngIf="email?.hasError('required')">
              Email is required.
            </span>
          </span>
        </div>
        <div class="example-container">
          <mat-form-field class="field">
            <mat-label>Username</mat-label>
            <input matInput required formControlName="userName" />
          </mat-form-field>
          <span
            *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)"
          >
            <span *ngIf="userName?.hasError('required')">
              Username is required.
            </span>
          </span>
        </div>
        <div class="example-container">
          <mat-form-field class="field">
            <mat-label>Password</mat-label>
            <input matInput required formControlName="password" />
          </mat-form-field>
          <span
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <span *ngIf="password?.hasError('required')">
              Password is required.
            </span>
            <span *ngIf="password?.hasError('pattern')">
              Password should have 1 uppercase, 1 lowercase, 1 number, and be
              between 8 and 20 characters
            </span>
          </span>
        </div>
      </div>
      <div class="example-button-container">
        <button mat-fab extended type="submit" [disabled]="!loginForm.valid">
          LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
